@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Nothing+You+Could+Do');

body, html {
  background: black;
}

.splashContainer {
  background: white;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  transition: all 600ms;
  transition-timing-function: cubic-bezier(0.04, 0.62, 0.2, 0.94);
}

.splashContainer.hide {
  top: -100vh;
}

.splash {
  text-align: center;
  display: inline-block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.splash-title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 15rem;
  margin: 0;
}

.splash-para {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.splash-reveal {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.splash-reveal>span {
  position: absolute;
  bottom: 20px;
  border-left: 20px solid transparent;
  border-bottom: 30px solid black;
  border-right: 20px solid transparent;
  transition: all 600ms;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.splash-reveal:hover span {
  animation: none;
}

.splash-social {
  height: 50px;
}

.splash-social a {
  color: black;
  text-decoration: none;
  font-size: 27px;
  transform: scale(1);
  transition: all 300ms;
  display: inline-block;
  margin: 0 4px;
}

.splash-social a:hover {
  transform: scale(1.2);
}

@keyframes bounce {
  10% {
    bottom: 20px;
  }

  20% {
    bottom: 25px;
  }

  30% {
    bottom: 20px;
  }

  70% {
    bottom: 20px;
  }

  80% {
    bottom: 25px;
  }

  100% {
    bottom: 20px;
  }
}